<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>

  <system.serviceModel>

    <behaviors>
      <serviceBehaviors>
        <behavior name="httpBehavior">
          <serviceMetadata httpGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="tcpBehavior">
          <serviceMetadata httpGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <services>
      <service name="WeatherServices.StationWeatherServer" behaviorConfiguration="httpBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8065" />
          </baseAddresses>
        </host>
        <endpoint address="" binding="basicHttpBinding" contract="WeatherServices.IStationWeatherServer" />
        <endpoint address="StationWeatherServer" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="WeatherServices.ClientWeatherServer" behaviorConfiguration="tcpBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8066" />
          </baseAddresses>
        </host>
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="tcpBinding" contract="WeatherServices.IClientWeatherServer" />
        <endpoint address="ClientWeatherServer" binding="mexTcpBinding" contract="IMetadataExchange" />
      </service>
    </services>

    <bindings>

      <basicHttpBinding>
        <binding name="httpBinding">
          <security mode="None"></security>
        </binding>
      </basicHttpBinding>

      <netTcpBinding>
        <binding name="tcpBinding">
          <security mode="None">
            <transport clientCredentialType="Windows" />
            <message clientCredentialType="Windows" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
  <system.webServer>
    <directoryBrowse enabled="true" />
  </system.webServer>
</configuration>